<div id="page" class="page auth">
    {% if page.header %}
        <header id="header" class="header">
            <div class="header-block">
                <div class="container">
                    {{ page.header }}
                </div>
            </div>
        </header>
    {% endif %}
    <main class="main">
        <a id="main-content" tabindex="-1"></a>
        <div class="container">
            {{ page.content }}
        </div>
    </main>
    <div class="user-auth-block">
        <div class="container">
            <div class="user-auth-wrapper">
                <div class="user-auth-password disable-form" id="passwd-form">
                    <h2>Восстановление пароля</h2>
                    <form class="user-pass" id="user-pass" {{ attributes }} method="POST">
                        {{ password_form.name }}
                        {{ password_form.mail }}
                        {{ password_form.form_build_id }}
                        {{ password_form.form_token }}
                        {{ password_form.form_id }}
                        <div class="captcha-wrapper">
                            {{ login_form.captcha }}
                        </div>
                        {{ password_form.actions }}
                        <div class="back-form-btn"><a href="#auth-form">Назад</a></div>
                    </form>
                </div>
                <div class="user-auth disable-form" id="auth-form">
                    <div class="user-auth-toggle">
                        <a class="tab-target" href="#user-login">Вход</a>
                        <a class="tab-target" href="#user-register">Регистрация</a>
                    </div>
                    <div class="user-auth-content">
                        <div class="user-auth-login tabs-item" id="user-login">
                            <h2>Вход в личный кабинет</h2>
                            <form class="user-login-form" id="user-login-form" {{ attributes }} method="POST">
                                {{ login_form.name }}
                                {{ login_form.pass }}
                                {{ login_form.form_build_id }}
                                {{ login_form.form_token }}
                                {{ login_form.form_id }}
                                <div class="remember-passwd">
                                    {{ login_form.persistent_login }}
                                    <div class="link-passwd">
                                        <a class="passwd" href="#passwd-form">Забыли пароль?</a>
                                    </div>
                                </div>
                                <div class="captcha-wrapper">
                                    {{ login_form.captcha }}
                                </div>
                                {{ login_form.actions }}
                            </form>

                        </div>
                        <div class="user-auth-register tabs-item" id="user-register">
                            <h2>Регистрация</h2>
                            <form class="user-register-form" id="user-register-form" {{ attributes }} method="POST">
                                <div class="form-content">
                                    {{ register_form.account.mail }}
                                    {{ register_form.field_surname }}
                                    {{ register_form.field_name }}
                                    {{ register_form.field_middle_name }}
                                    {{ register_form.account.pass }}
                                    {{ register_form.form_build_id }}
                                    {{ register_form.form_token }}
                                    {{ register_form.form_id }}
                                    <div class="captcha-wrapper">
                                        {{ login_form.captcha }}
                                    </div>
                                    {{ register_form.actions }}
                                </div>
                                <div id="register-message">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

